<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" android:required="true" />

    <!-- Location Permissions for BLE scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" android:required="false" />

    <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Media and Recording Permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Internet and Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Feature Requirements -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher3_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!-- Change theme here -->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bluetoothwaveformapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Google Ads Metadata -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- Fix for conflicting android.adservices.AD_SERVICES_CONFIG property -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
        <!-- if u want lottie remove below code splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ChartSettingsActivity"
            android:exported="true" />

        <activity android:name=".ChartActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />

        <activity android:name=".AccountActivity"
            android:theme="@style/CustomActionBarTheme" />

    </application>
</manifest>
